<%= live_component @socket,  MorphicProWeb.PostLive.FormComponent,
  id: @post.id || :new,
  title: @page_title,
  action: @live_action,
  post: @post,
  return_to: Routes.post_index_path(@socket, :index),
  current_user: @current_user %>
  