<!DOCTYPE html>
<html lang="en" class="antialiased text-gray-900">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Portland's Digital Curator">
    <meta name="author" content="Josh Chernoff <jchernoff@polymorphic.productions>">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= Routes.static_path(@conn, "/images/apple-touch-icon.png") %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= Routes.static_path(@conn, "/images/favicon-32x32.png") %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= Routes.static_path(@conn, "/images/favicon-16x16.png") %>">
    <link rel="mask-icon" href="<%= Routes.static_path(@conn, "/images/safari-pinned-tab.svg") %>" color="#5bbad5">

    <title><%= assigns[:page_title] || "Morphic.Pro" %></title>
  
    <link rel="preload"    href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" as="style">
    <link rel="preload"    href="<%= Routes.static_path(@conn, "/fonts/icomoon.woff") %>" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/vendors~app.bundle.css") %>"/>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.bundle.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>

  <body class="">
    <%= render "header.html", conn: @conn %>
    <main class="relative h-full">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <%= render "footer.html", conn: @conn %>

    <script rel="preload" type="text/javascript" src="<%= Routes.static_path(@conn, "/js/vendors~app.bundle.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.bundle.js") %>"></script>

  </body>
</html>
