/* This file is for your main application css. */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "fonts.css";
@import "base.css";
@import "fix_me.css"; /* this is a dump, clean up */
@import "buttons.css";
@import "nav.css";
@import "post.css";
@import "time_line.css";
@import "fade.css";

/* @import "~prism-themes/themes/prism-atom-dark.css"; */
/* @import "~prism-themes/themes/prism-hopscotch.css"; */
/* @import "~prism-themes/themes/prism-vsc-dark-plus.css"; */
/* @import "~prism-themes/themes/prism-dracula.css"; */
/* @import "~prism-themes/themes/prism-material-dark.css"; */
/* @import "~prism-themes/themes/prism-material-oceanic.css"; */
@import "~prism-themes/themes/prism-xonokai.css";
