/* This file is for your main application css. */
@tailwind base;

@tailwind components;

@tailwind utilities;

@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import "~easyMDE/dist/easyMDE.min.css";


@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html, body{
  background-color: rgb(248, 248, 248)
}

h1{
  @apply text-5xl;
}
h2{
  @apply text-3xl;
}
h3{
  @apply text-xl
}

.bg-black-05 {
  background: rgba(0, 0, 0, 0.5) !important;
}
.bg-black-06 {
  background: rgba(0, 0, 0, 0.6) !important;
}
.bg-black-07 {
  background: rgba(0, 0, 0, 0.7) !important;
}
/* use !important to prevent issues with browser extensions that change fonts */
.icon-shape {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: absolute;
  left: -1.45rem;
  top: 0.71rem;
  font-size: 1.25rem;
}

.icon-shape:before {
  content: "\e900";
}

.page-title {
  font-family: "Abril Fatface", cursive;
  font-weight: normal !important;
  font-display: swap;
}
.section-fullscreen {
  width: 100%;
  height: 100%;
}
.bg-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

.pow-form {
  height: max-content;
}

/* Posts */
.post-body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  
  a{
    @apply text-blue-600;
    &:hover {
      @apply text-blue-400;
      text-decoration: underline;
    }
  }
  code.inline {
    @apply text-pink-500;
  }
  code {
    @apply p-4 text-gray-600;
    display: block;
    overflow: scroll;
  }
  pre {
    @apply p-6 mb-4 border border-gray-300 rounded;
    line-height: 28px;
  }
  p {
    margin-bottom: 20px;
  }
}
