/* This file is for your main application css. */
@tailwind base;

@tailwind components;

@tailwind utilities;

@import "~@fortawesome/fontawesome-free/css/fontawesome.min.css";
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?hkf4u0");
  src: url("/fonts/icomoon.eot?hkf4u0#iefix") format("embedded-opentype"),
    url("/fonts/icomoon.ttf?hkf4u0") format("truetype"),
    url("/fonts/icomoon.woff?hkf4u0") format("woff"),
    url("/fonts/icomoon.svg?hkf4u0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  width: 100%;
  height: 100%;
}

.bg-black-05 {
  background: rgba(0, 0, 0, 0.5) !important;
}
/* use !important to prevent issues with browser extensions that change fonts */
.icon-shape {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-weight: 700;
  position: absolute;
  left: -1.45rem;
  top: 0.71rem;
  font-size: 1.25rem;
}

.icon-shape:before {
  content: "\e900";
}

.page-title {
  font-family: "Abril Fatface", cursive;
  font-weight: normal !important;
}
.section-fullscreen {
  width: 100%;
  height: 100%;
}
.bg-image {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
