#content {
  p,
  h1,
  h2,
  h3,
  input,
  textarea,
  .button,
  .btn,
  .entry-meta,
  .job-title,
  .social-block a {
    &.content-primed {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
    &.fade-in {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
      animation-name: fadeContent;
    }
  }
}

@keyframes fadeContent {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeImg {
  from {
    opacity: 0;
    transform: perspective(1000px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    opacity: 1;
    transform: perspective(1000px) rotate3d(1, 0, 0, 0);
  }
}