{
    // "presets": [
    //     "@babel/preset-env"
    // ],
    // "plugins": [
    //     [
    //         "prismjs",
    //         {
    //             "languages": [
    //                 "javascript",
    //                 "elixir",
    //                 "css",
    //                 "markup"
    //             ],
    //             "plugins": [
    //                 "line-numbers"
    //             ],
    //             "theme": "prism-xonokai",
    //             "css": true
    //         }
    //     ]
    // ]
}