<div class="container mx-auto my-32">
  <div class="lg:px-48">
    <img src="<%= @snap.large_img %>" />
  </div>
</div>

<div class="container mx-auto my-20">
  <div class="lg:px-64 px-8 py-24 bg-white snap-body">
    <%= @snap.body |> parse_markdown |> parse_tags |> raw %>

  </div>
</div>

<%= admin_links @current_user, @snap %>