name: CI

on:
  push:
    branches:    
      - '**'        # matches every branch
      - '!master'   # excludes master

jobs:
  Test:
    runs-on: ubuntu-latest
    services:
      db:
        image: postgres:11
        ports: ['5432:5432']
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: morphic_pro_test
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v2
    - name: Cache mix modules
      uses: actions/cache@v1
      env:
        cache-name: cache-mix-modules-v2
      with:
        path: deps # mix cache files are stored in `deps` in the root of the project folder
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/mix.lock') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
    - name: Setup elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: 1.12.1 # Define the elixir version [required]
        otp-version: 23.3 # Define the OTP version [required]
    - name: Install Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Run Tests
      env:
        MIX_ENV: test
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: mix coveralls.github
